Repository SyndorZaldrizes/Syndor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts}": [
    "eslint --fix",
    "git add"
  ],
  "*.css": [
    "stylelint --fix",
    "git add"
  ],
  "*.{md,json}": [
    "prettier --write",
    "git add"
  ]
}

Update msl-giving.html
  msl-giving.html
Due: none

Add files via upload
  taylor-communications-2526.jpg
Due: none

Update executive-board.html
  executive-board.html
Due: none

Create msl-giving-2024.html
  archive/msl-giving-2024.html
Due: none

Unify navigation and enhance games
  archive/msl-giving-2024.html
  bulletin.html
  bylaws.html
  constitution.html
  executive-board.html
  index.html
  msl-game.html
  msl-secret.html
  neophytus.html
  resources.html
  styles.css
Due: stylelint --fix

Polish games page and Petriod experience
  msl-game.html
  msl-secret.html
Due: none

Update index.html
  index.html
Due: none

Create msl-bill-builder.html
  msl-bill-builder.html
Due: none

Update msl-secret.html
  msl-secret.html
Due: none

Update bulletin.html
  bulletin.html
Due: none

Update executive-board.html
  pages/executive-board.html
Due: none

Index and bulletin update
  index.html
  pages/bulletin.html
Due: none

Add files via upload
  assets/img/posc395-msl-credit-flyer.png
Due: none

Add files via upload
  docs/msl-act-template-2025.pdf
  docs/msl-resolution-template-2025.pdf
Due: none

Update resources.html
  pages/resources.html
Due: none

Update bulletin.html
  pages/bulletin.html
Due: none

Create altius.css
  assets/css/altius.css
Due: stylelint --fix

Create altius.js
  assets/js/altius.js
Due: eslint --fix

Refine navigation, styling, and content
  assets/css/altius.css
  assets/css/styles.css
  assets/js/altius.js
  assets/js/script.js
  index.html
  pages/archive/msl-giving-2024.html
  pages/bulletin.html
  pages/bylaws.html
  pages/constitution.html
  pages/executive-board.html
  pages/msl-bill-builder.html
  pages/msl-game.html
  pages/msl-giving.html
  pages/neophytus.html
  pages/resources.html
Due: eslint --fix, stylelint --fix

Refresh navigation, bulletin, and exec board
  assets/css/styles.css
  assets/js/script.js
  executive-board.html
  pages/bulletin.html
  pages/executive-board.html
Due: eslint --fix, stylelint --fix

Normalize navigation and refresh styling
  assets/css/styles.css
  assets/js/script.js
  index.html
  pages/neophytus.html
Due: eslint --fix, stylelint --fix

Refresh styling and clean neophytus title
  assets/css/styles.css
  pages/neophytus.html
Due: stylelint --fix

Polish navigation, resources, games, and agent scaffold
  README.md
  SECURITY.md
  altius/.gitignore
  altius/README.md
  altius/config.example.json
  altius/docs/.gitkeep
  assets/css/styles.css
  assets/js/script.js
  pages/msl-game.html
  pages/resources.html
Due: eslint --fix, stylelint --fix, prettier --write

Update msl-game.html
  pages/msl-game.html
Due: none

Add Altius scaffold (local-only)
  README.md
Due: prettier --write

Create altius-starter.yml
  .github/workflows/altius-starter.yml
Due: none

Create altius.html
  pages/altius.html
Due: none

Update altius.html
  pages/altius.html
Due: none

Floor Runner: clarify edges + consistent jump
  pages/altius.html
  pages/msl-game.html
Due: none
