Repository SyndorZaldrizes/Syndor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

Update msl-game.html
  msl-game.html
Due: none

Update index.html
  index.html
Due: none

Update script.js
  script.js
Due: eslint --fix

Update styles.css
  styles.css
Due: stylelint --fix

Update executive-board.html
  executive-board.html
Due: none

Add files via upload
  parli-pro.jpeg
Due: none

Update resources.html
  resources.html
Due: none

Update bulletin.html
  bulletin.html
Due: none

Add files via upload
  qr-groupme.png
  qr-groupme2.png
Due: none

Create msl-secret.html
  msl-secret.html
Due: none

Add files via upload
  petroid-core.jpg
Due: none

Update msl-secret.html
  msl-secret.html
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: prettier --write

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

Create LICENSE
  LICENSE
Due: none

Create SECURITY.md
  SECURITY.md
Due: prettier --write

Create issue-template.md
  .github/ISSUE_TEMPLATE/issue-template.md
Due: prettier --write

Update msl-giving.html
  msl-giving.html
Due: none

Create neophytus.html
  neophytus.html
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts}
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{md,json}
