Repository SyndorZaldrizes/Syndor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts}": [
    "eslint --fix",
    "git add"
  ],
  "*.css": [
    "stylelint --fix",
    "git add"
  ],
  "*.{md,json}": [
    "prettier --write",
    "git add"
  ]
}

Update altius.html
  pages/altius.html
Due: none

Fix Altius download links
  pages/altius.html
Due: none

Refine nav sharing and isolate altius-local workspace
  .eslintrc.cjs
  .github/workflows/altius-starter.yml
  .gitignore
  README.md
  SECURITY.md
  altius-local/.gitignore
  altius-local/README.md
  altius-local/config.example.json
  altius-local/docs/.gitkeep
  assets/js/nav.js
  assets/js/script.js
  assets/partials/nav.html
  executive-board.html
  index.html
  package.json
  pages/altius.html
  pages/archive/msl-giving-2024.html
  pages/bulletin.html
  pages/bylaws.html
  pages/constitution.html
  pages/executive-board.html
  pages/msl-bill-builder.html
  pages/msl-game.html
  pages/msl-giving.html
  pages/neophytus.html
  pages/resources.html
Due: eslint --fix, prettier --write

Delete executive-board.html
  executive-board.html
Due: none

Remove agent experiment and refine join conversion
  .gitignore
  README.md
  SECURITY.md
  altius-local/.gitignore
  altius-local/README.md
  altius-local/config.example.json
  altius-local/docs/.gitkeep
  index.html
  package-lock.json
  pages/altius.html
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Enhance issue template with academic standards
  .github/ISSUE_TEMPLATE/issue-template.md
Due: prettier --write

Delete .github/workflows/altius-starter.yml
  .github/workflows/altius-starter.yml
Due: none

Enhance security policy with academic standards
  SECURITY.md
Due: prettier --write
